<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav" style="font-size: 20px;">
          <li ><a routerLink="country" routerLinkActive="active">Country</a></li>
          <li ><a routerLink="person" routerLinkActive="active">Person</a></li>
          <!-- <li ><a routerLink="home" routerLinkActive="active">Country</a></li> -->
      </ul>
  </div>
</nav>  
<router-outlet></router-outlet>